<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>
<div class="container">
    <hr />

    <div class="card">
        <h2 class="card-header">Novo Artigo</h2>
        <form action="/articles/save" method="post" class="card-body">
            <input
                class="form-control mb-2"
                type="text"
                name="title"
                placeholder="Titulo do artigo"
            />
            <textarea
                id="article"
                class="form-control"
                name="body"
                placeholder="Digite o artigo"
            >
            </textarea>
            <label for="category">Categoria</label>
            <select name="category" class="form-control">
                <% categories.forEach((category)=>{ %>
                <option value="<%= category.id %>">
                    <%= category.title %>
                </option>
                <%}) %>
            </select>
            <button class="btn btn-primary mt-2">Cadastrar</button>
        </form>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            "advlist autolink image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons",
        ],
    });
</script>
