<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>
<div class="container">
    <hr />
    <h2>Usuários</h2>
    <a href="/admin/users/create" class="btn btn-primary">Novo usuário</a>
    <hr />
    <table class="table table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach( (user) => { %>
            <tr>
                <td><%= user.email %></td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <form
                        action="/users/delete"
                        method="post"
                        style="display: inline"
                        onsubmit="confirmDel(event, this)"
                    >
                        <input type="hidden" name="id" value="<%= user.id %>" />
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>
<script>
    function confirmDel(event, form) {
        event.preventDefault();
        var descision = confirm("Você deseja deletar o artigo?");
        if (descision) {
            form.submit();
        }
    }
</script>
